.nav{
  padding: 25px;
  color: white;
 
  background: linear-gradient(90deg, rgba(135,0,245,1) 0%, rgba(179,33,255,1) 44%, rgba(0,155,255,1) 100%);
}
.logo{
  padding-bottom: 1em;
  margin: -6em 0 -2em 0;
 
  filter: invert(1);
  width: 40px;
}
.card {
 border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  margin-top: -7%;
  color: grey;
  font-size: 18px;
}
.description{
  width: 80%;
}

.search{
 
 margin-top: -1em;
  float: right;
}
.searchfield{
 
  outline: none;
  
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 180px;
    height: 10px;
 
}
.searchbox img{
  filter: invert(1);
  margin: 0 0 -5%  0;
  width: 40px;
  cursor: pointer;
  
}
.flex{
  display: flex;
  justify-content: space-around;
}

.repos{
  margin-top: 2%;
}
.repobox{
  
  border-bottom-style: solid;
  border-radius: 15px;

  border-bottom-color: rgb(212, 212, 212);
  padding: 20px;
  width: 80%;
  height: 100px; 
  margin: 2% 0 0 5%;
}
.repoName{
  font-size: 1.3em;
}
.repository{
  border-bottom-style: solid;
  border-bottom-color: rgb(214, 49, 255);
  padding: 15px;
  margin-left: 4%;
  width: 80px;
}
@media only screen and (min-width: 800px) {

  .divide{
    display: flex;
    justify-content: space-between;
 
  }
  .card {
   margin-top: 1%;
   }
  
  .repobox{
  
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);
    padding: 20px;
    width: 924px;
    height: 100px; 
    margin: 2% 0 0 0;
  }
  .description{
    width: 60%;
  }
  .repository{
   
    margin-left: 2%;
   
  }
 
  
}
