.nav{
  padding: 25px;
  color: white;
  background-color: #24292E;
}
.logo{
  padding-bottom: 1em;
  margin: -6em 0 -2em 0;
 
  filter: invert(1);
  width: 40px;
}
.card {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  margin-top: -7%;
  color: grey;
  font-size: 18px;
}
.description{
  width: 70%;
}
 p button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.search{
 
 margin-top: -1em;
  float: right;
}
.searchfield{
 
  outline: none;
  
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 200px;
    height: 10px;
 
}
.searchbox img{
  filter: invert(1);
  margin: 0 0 -5%  0;
  width: 40px;
  cursor: pointer;
  
}
.flex{
  display: flex;
  justify-content: space-around;
}

.repos{
  margin-top: 2%;
}
.repobox{
  
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  padding: 20px;
  width: 824px;
  height: 100px; 
  margin: 2% 0 0 2%;
}
.repoName{
  font-size: 1.3em;
}
.repository{
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 89, 89);
  padding: 15px;
  margin-left: 4%;
  width: 80px;
}
@media only screen and (min-width: 800px) {

  .divide{
    display: flex;
    justify-content: space-between;
 
  }
  .card {
   margin-top: 1%;
   }
  
  .repobox{
  
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);
    padding: 20px;
    width: 724px;
    height: 100px; 
    margin: 2% 0 0 -5%;
  }
  .description{
    width: 60%;
  }
  .repository{
   
    margin-left: -4%;
   
  }
 
  
}
@media only screen and (min-width: 1200px) {
  .divide{
    display: flex;

  }
  .repobox{
  
  
    width: 950px;
  
  }


}